/* @font-face {
    font-family: "KremlinPremier-xxoR";
    src: url("/client/public/KremlinPremier-xxoR.ttf") format("trueType");
} */

main {
    height: 100vh;
}

body {
    position: relative;
    background-size: cover;
    background-position: center;
    object-fit: fill;
    box-sizing: border-box;
}

.intro {
    color: white;
    font-weight: larger;
    font-size: 3rem;
    padding: 20px;
}

.agitation {
    background-color: white;
    width: 370px;
    margin: 25px;
    opacity: 0.75;
    border-radius: 5px;
    padding: 3px;
}

.logo {
    margin-left: 20px;
    width: 85%;
    display: flex;
}

#welcome {
    height: auto;
}

.login,
.reset,
.register {
    text-decoration: none;
    font-size: 1.2rem;
}

.registration-container,
.login-container {
    background-color: white;
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 90vh;
    align-items: center;
}

.submit,
.login {
    margin-top: 10px;
}

.top_bar_logo {
    height: 35px;
    width: 200px;
    padding: 10px;
    margin-left: 45px;
    align-self: center;
    visibility: hidden;
}

.logout {
    width: 60px;
    justify-self: center;
    align-self: center;
}

.appMessage {
    color: black;
    padding: 20px;
    width: 300px;
    justify-self: center;
    align-self: center;
}

.top_bar {
    width: 100%;
    height: 8vh;
    display: grid;
    grid-template-columns: 1fr 300px 150px;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    padding-bottom: 20px;
    margin-top: 0px;
}

.app_profile_wrapper {
    padding-top: 20px;
}

.app_profile_container {
    bottom: 250px;
    display: grid;
    grid-template-rows: 100px 35px 100px auto;
    background-color: white;
    height: 300px;
    width: 330px;
    border-radius: 5px;
    margin: 25px;
    margin-bottom: 35px;
    opacity: 0.9;
}

.userName {
    padding: 10px;
    padding-top: 20px;
    grid-row-start: 2;
    justify-self: center;
    align-self: center;
    font-size: 1.2rem;
    font-weight: larger;
}

.profilePic {
    grid-row-start: 1;
    width: 200px;
    height: 200px;
    border: solid white 10px;
    border-radius: 120px;
    margin: 50px;
    margin-top: -110px;
    align-self: center;
}

.userBio {
    grid-row-start: 3;
    padding: 15px;
}

.profile_container {
    grid-row-start: 4;
    background-color: grey;
}

.textareaBio,
#bio {
    width: 300px;
    margin-left: 6px;
    margin-right: 6px;
}

.button-bio {
    justify-self: center;
    align-self: center;
    top: 350px;
    margin-left: 130px;
    justify-self: center;
    align-self: center;
}

.find_button {
    background-color: #eee8e7;
    color: rgb(0, 0, 0);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    border: 1px black solid;
    border-radius: 3px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 35px;
    margin-top: 80px;
    float: right;
}

.search-user-container {
    z-index: 10;
    width: 200px;
}

.recently-joined-container {
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: fixed;
    top: 0;
}

.otherPic {
    width: 100px;
    height: 100px;
    border: solid rgb(8, 8, 8) 3px;
    border-radius: 100px;
}

.search_field {
    position: absolute;
    z-index: 100;
}

/* .modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(216, 30, 52, 0.5);

} */
